@charset "utf-8";


@import url('fonts.css');

/* 초기화 */


* {
    -webkit-text-size-adjust: none
}

body {
    background: #fff;
    font-size: 16px;
    font-family: 'Pretendard'
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
    font-family: 'Pretendard'
}

html {
    overflow-y: scroll
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    background: #e7e7e7
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
    margin: 0;
    padding: 0;
    border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none
}

legend {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden
}

label,
input,
button,
select,
img {
    vertical-align: middle;
    font-size: 1em
}

input,
button {
    margin: 0;
    padding: 0;
    font-size: 1em
}

input[type="submit"] {
    cursor: pointer
}

button {
    cursor: pointer
}

textarea,
select {
    font-size: 16px;
}

select {
    margin: 0
}

p {
    margin: 0;
    padding: 0;
    word-break: break-all
}

pre {
    overflow-x: scroll;
    font-size: 1.1em
}

a {
    color: #000;
    text-decoration: none
}

i {
    padding: 0 5px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 마우스커서 */
nav {
    position: fixed;
    top: 0;
    min-width: 1400px;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

nav .gnb_box {
    opacity: 0;
    position: relative;
    top: -30px;
    width: 1220px;
    height: 100%;
    margin: 0 auto
}

nav.sub .gnb_box {
    opacity: 1;
    top: 0
}

/* 스크롤 */
header.fixed nav {
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff
}

header.fixed nav #topGnb>li>a {
    color: #111
}

nav.on {
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff
}

nav.on #menuLine {
    background-color: #605c58
}

nav.on #topGnb>li>a {
    color: #222
}

/* 로고 */
#top_logo {
    display: block;
    float: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 200px;
    background: url('../img/icon/logo_wh.png') 50% 50% no-repeat;
    background-size: contain;
    transition: all 0.3s ease;
}

header.fixed #top_logo,
#top_logo.hover {
    background: url('../img/icon/logo.png') 50% 50% no-repeat;
    background-size: contain;
}

/* 대분류 */
#topGnb {
    position: relative;
    top: 0;
    right: -25px;
    z-index: 1;
}

#topGnb:after {
    display: block;
    content: "";
    visibility: hidden;
    clear: both
}

#topGnb>li {
    float: left;
    position: relative;
    padding: 0 30px;
    text-transform: uppercase;
}

#topGnb>li>a {
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 13px;
    color: #fff;
    transition: all .2s;
    font-family: 'Google Sans Flex', 'pretendard', sans-serif;
    letter-spacing: 0.5px;
}


#topGnb>li>button {
    position: absolute;
    top: 15px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: all .3s;
    word-break: normal;
    font-size: 13px;
    letter-spacing: 1px;
    z-index: 10;
    text-transform: uppercase;
}

#topGnb>li>button:hover,
#topGnb>li>button.hover,
header.fixed #topGnb>li>button {
    color: #fff;
    background: rgba(96, 92, 88, .9);
    border: rgba(96, 92, 88, .9);
}


/* 소분류 */
.top_lnb {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 15px;
}

.top_lnb li a {
    display: block;
    margin: 0px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #222;
    transition: color .2s
}

.top_lnb li a:hover {
    color: #605c58
}


/* 전체메뉴배경 */
.top_nav_bg {
    position: fixed;
    width: 100%;
    display: none;
    top: 80px;
    height: 210px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 12px 45px -17px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 12px 45px -17px rgba(0, 0, 0, 0.2)
}





footer {
    background: #605c58;
    font-family: 'Fraunces', 'Pretendard';
    font-weight: 400
}

footer .inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 65px 0 40px 0;
}

footer .bottom {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    font-family: 'pretendard';
}

footer .bottom hr {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin: 20px 0;
}

footer .bottom copyright {
    font-size: 13px;
    letter-spacing: 0.5px;
}

footer .bottom span {
    opacity: .3;
    padding: 0 2.5px;
}

footer .b_eng {
    font-size: 29px;
    font-weight: 800;
    line-height: 56px;
    color: #fff
}

footer .contact_list {
    overflow: hidden
}

footer .contact_list li {
    float: left;
    position: relative;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .6)
}

footer .contact_list li,
footer .contact_list li a {
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
    transition: all 0.3s ease;
}

footer .contact_list li:first-child a {
    font-weight: 600
}

footer .contact_list li a:hover {
    color: rgba(255, 255, 255, .8)
}

footer .contact_list li+li {
    padding-left: 15px
}

footer .contact_list li+li:before {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, .3)
}

footer .inner>a {
    display: block;
    position: absolute;
    right: 0;
    bottom: 71px;
    width: 293px;
    height: 65px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    transition: all .3s
}

footer .inner>a:hover {
    border: 1px solid #fff;
    color: #605c58;
    background: #fff
}

/* Mobile Styles */
.m_menu_btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    /* Default white on transparent header */
    cursor: pointer;
    z-index: 100;
}

header.fixed .m_menu_btn,
nav.on .m_menu_btn {
    color: #222;
    /* Dark color when header is fixed or menu open */
}

/* Mobile Menu Overlay - Global Styles to ensure hidden on Desktop */
#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    flex-direction: column;
    overflow-y: auto;
}

#mobileMenu.on {
    display: flex;
}

/* Mobile Header inside Overlay */
#mobileMenu .m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    border-bottom: 1px solid #f0f0f0;
}

#mobileMenu .m-logo img {
    height: 40px;
}

#mobileMenu .m-close-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #222;
    cursor: pointer;
}

/* Mobile GNB List */
#mobileMenu .m-inner {
    padding: 40px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mobileMenu .m-gnb {
    margin-bottom: 50px;
    width: 100%;
}

#mobileMenu .m-gnb li {
    text-align: left;
    margin-bottom: 25px;
}

#mobileMenu .m-gnb li a {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: #222;
    font-weight: 300;
    display: block;
    transition: color 0.3s;
}

#mobileMenu .m-gnb li a:hover {
    color: #605c58;
}

/* Utils (Reservation & Lang) */
#mobileMenu .m-utils {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu .btn-reservation {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #605c58;
    border-bottom: 1px solid #605c58;
    padding-bottom: 3px;
}

#mobileMenu .m-lang {
    display: flex;
}

#mobileMenu .m-lang li {
    margin-left: 20px;
}

#mobileMenu .m-lang li a {
    font-size: 14px;
    color: #aaa;
}

#mobileMenu .m-lang li.on a {
    color: #222;
    font-weight: 600;
}


@media (max-width: 1024px) {
    nav {
        min-width: 100%;
        padding: 0 20px;
    }

    nav .gnb_box {
        display: none;
        /* Desktop menu hidden */
    }

    .m_menu_btn {
        display: block;
    }

    #top_logo {
        left: 0;
    }

    /* Mobile Menu Overlay styles are now global to prevent PC bleed */



    .top_nav_bg {
        display: none !important;
    }

    footer .inner {
        width: 100%;
        padding: 40px 20px;
    }

    footer .bottom {
        width: 100%;
        padding: 0 20px 60px;
    }

    footer .contact_list li {
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }

    footer .inner>a {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        margin-top: 30px;
    }
}